.header
  position: relative
  background: #f28873

  &__total
    @extend %copy
    +position(absolute, 50% null null 0px)
    +transform(translateY(-50%))
    font-size: 45px
    font-weight: 700
    text-align: center
    color: #fff
    width: 100%
